/* FONTS */

@font-face {
    font-family: 'DIN Condensed';
    src: url('fonts/DINCondensed-Light.eot');
    src: local('DIN Condensed Light'), local('DINCondensed-Light'), url('fonts/DINCondensed-Light.eot?#iefix') format('embedded-opentype'), url('fonts/DINCondensed-Light.woff2') format('woff2'), url('fonts/DINCondensed-Light.woff') format('woff'), url('fonts/DINCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Condensed';
    src: url('fonts/DINCondensed-Regular.eot');
    src: local('DIN Condensed'), local('DINCondensed-Regular'), url('fonts/DINCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/DINCondensed-Regular.woff2') format('woff2'), url('fonts/DINCondensed-Regular.woff') format('woff'), url('fonts/DINCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelo';
    src: local('Lovelo Black'), local('Lovelo-Black'), url('fonts/Lovelo-Black.woff2') format('woff2'), url('fonts/Lovelo-Black.woff') format('woff'), url('fonts/Lovelo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/* FONTS END */


/* SETTINGS */

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lovelo;
    font-weight: 900;
}

body {
    background: black;
    overflow-x: hidden;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #ED2A24;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* SETTINGS END */


/* 1. HOMEPAGE */

.header__logo svg:last-child {
    position: absolute;
    left: 0;
    top: 0;
}

.homepage {
    min-width: 100vw;
}

.header__logo svg {
    width: calc(53px * 3);
    height: calc(46px * 3);
    fill: #ED2A24;
    transition: all .5s ease 0s;
}

svg:not(:root) {
    overflow: hidden;
}

.header__logo {
    position: relative;
    width: 53px;
    height: 46px;
}

.header__logo {
    z-index: 2;
}

.active .header__logo svg {
    fill: #000;
    transition: all .5s ease .5s;
}

.header__logo:hover svg {
    fill: #CECECE;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}

.header__logo {
    position: relative;
    width: 180px;
    height: 46px;
}

.header__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo svg:first-child {
    position: absolute;
    left: 21px;
    top: 27px;
    width: calc(39px * 3);
    height: calc(35px * 3)
}

.header__logo svg:last-child {
    position: absolute;
    left: 0;
    top: 0;
}

.header__logo:hover a svg:first-child {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}

.header__logo:hover a svg:last-child {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
}

.homepage__menu {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    top: 20vh;
    position: relative;
}

.homepage__menu>div {
    margin: 0 auto;
}

.homepage_menu_list {
    top: 120px;
    position: relative;
}

.menu__item a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
    font-size: 68px;
}

.menu__item a:hover {
    color: #ED2A24;
}

.about__body_text_mb {
    display: none;
}

.menu__item {
    position: relative;
    right: 10px;
}

#services {
    letter-spacing: 4px;
}

#partners_link {
    letter-spacing: 4px;
}

.homepage {
    background-image: url('../images/backgrounds/Homepage.svg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}


/* FOOTER */

footer {
    min-width: 100vw;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    background-image: url('../images/backgrounds/Footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__container {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
}


/* FOOTER END */

.footer__logotype {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 40px;
}

.footer__logotype .header__logo {
    margin: 0 auto;
}

.footer__logotype img {
    position: relative;
    top: 20px;
}

.footer__logotype .header__logo {
    width: calc(53px * 2);
    height: calc(46px * 2);
}

.footer__logotype .header__logo svg {
    width: calc(53px * 2);
    height: calc(46px * 2);
}

.footer__logotype .header__logo svg:first-child {
    position: absolute;
    left: 14px;
    top: 18px;
    width: calc(39px * 2);
    height: calc(35px * 2)
}

.footer__content {
    margin-top: 200px;
}

.footer__contacts {
    display: flex;
}

.partners__company_media {
    width: 50%;
}

.partners__image img {
    width: 100%;
}

.footer__contact {
    width: 50px;
    height: 50px;
    background: #EE2700;
    border-radius: 10px;
    margin-right: 35px;
    color: white;
    text-align: center;
    padding-top: 9px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.footer__contact:hover {
    background: transparent;
    border: 1px solid #EE2700;
}

.footer__contact:hover .fab {
    color: #EE2700;
}

.footer__contact i {
    font-size: 28px;
    transition: 0.3s;
}

.footer__title {
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 68px;
    color: #EE2700;
}

.footer__slogan {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer__lines {
    display: flex;
}

.line__1 {
    width: 99px;
    height: 2px;
    background: #EE2700;
    border: none;
    margin-right: 40px;
    border-radius: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.line__2 {
    width: 38px;
    height: 2px;
    background: #EE2700;
    border: none;
    border-radius: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.footer_link {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.footer_link a>p {
    font-family: Lovelo;
    font-weight: 900;
    font-size: 18px;
    color: #EE2700;
    margin-left: 20px;
}

.footer_link a {
    text-decoration: none;
}

.footer__right_title {
    font-family: Lovelo;
    font-weight: 900;
    font-size: 36px;
    color: #EE2700;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__right {
    width: 570px;
}

.footer_form_block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer_form_block input {
    width: 43%;
    background: transparent;
    outline: none;
    height: 50px;
    border: none;
    border-bottom: 4px solid white;
    font-size: 24px;
    color: white;
    transition: 0.3s;
}

.footer_form_block input::placeholder {
    font-size: 24px;
    color: white;
    transition: 0.3s;
}

.footer_form_block input:focus {
    border-bottom: 4px solid #ED2A24;
    color: #ED2A24;
}

.footer_form_block input:focus::placeholder {
    color: #ED2A24;
}

#message {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 4px solid white;
    outline: none;
    background: transparent;
    font-size: 24px;
    resize: none;
    transition: 0.3s;
}

#message::placeholder {
    color: white;
    transition: 0.3s;
}

#message:focus {
    border-bottom: 4px solid #ED2A24;
    color: #ED2A24;
}

#message:focus::placeholder {
    color: #ED2A24;
}

.footer__form_send {
    width: 270px;
    height: 50px;
    background: #ED2A24;
    font-family: Lovelo;
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;
}

.footer__form_send:hover {
    border: 2px solid #ED2A24;
    color: white;
    background: transparent;
}

.homepage__wrapper {
    display: flex;
    transition: 0.7s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
}


/* VAULT */

.vault {
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    padding-bottom: 200px;
    background: url('../images/backgrounds/Pages.svg');
}

.vault__container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.page__header__logotype .header__logo {
    margin: 0 auto;
    position: relative;
}

.page__header__logotype .header__logo {
    width: 53px;
    height: 46px;
}

.page__header__logotype .header__logo svg {
    width: 53px;
    height: 46px;
}

.page__header__logotype .header__logo svg:first-child {
    position: absolute;
    left: 7px;
    top: 9px;
    width: 39px;
    height: 35px
}

.page__header {
    top: 40px;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.page__header h1 {
    font-family: Lovelo;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.045em;
    color: #EE2700;
    position: relative;
    top: 30px;
}

.page__header_subtitle {
    font-family: DIN Condensed;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.045em;
    color: white;
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}

.vault__searchbox {
    width: 48%;
    height: 54px;
    background: #ED2A24;
    color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

#search {
    height: 54px;
    background: transparent;
    border: none;
    outline: none;
    width: 70%;
    font-size: 22px;
    color: white;
    align-items: center;
}

#search::placeholder {
    color: white;
}

.vault__searchbox_block {
    width: 60px;
    top: 5px;
    position: relative;
    height: 43px;
    text-align: center;
    border-left: 2px solid white;
    cursor: pointer;
}

.vault__searchbox_block img {
    position: relative;
    top: 15%;
}

.vault__filter_block {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.vault__button_filter {
    width: 48%;
    display: flex;
}

.vault__button_filter button {
    width: 25%;
    height: 54px;
    background: transparent;
    border: 2px solid #ED2A24;
    color: #ED2A24;
    cursor: pointer;
    font-family: Lovelo;
    font-weight: 900;
    font-size: 22px;
    color: #EE2700;
    cursor: pointer;
    margin-right: 40px;
    transition: 0.3s;
}

#partners {
    width: 48%;
}

.vault__button_filter button:hover {
    background: #ED2A24;
    color: white;
}

.vault__video_block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.3s;
}

.vault__video {
    opacity: 1;
    display: block;
    transition: 0.3s;
}

.vault__video_hidden {
    opacity: 0;
    display: none;
}

.vault__video iframe {
    width: 100%;
    height: 300px;
}

.vault__video {
    width: 48%;
    margin-bottom: 40px;
}

.plyr__video-embed iframe,
.plyr__video-wrapper--fixed-ratio video {
    position: relative !important;
}


/* SERVICES */

.services__services {
    height: 100vh;
    background: url('../images/backgrounds/Pages.svg');
    background-size: cover;
}

.services__about {
    height: 100vh;
    background: url('../images/backgrounds/Pages.svg');
    background-size: cover;
}

.about__body {
    width: 1240px;
    margin: 0 auto;
    margin-top: 100px;
}

.services__body {
    width: 1340px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
}

.services__body_item {
    width: calc(100% / 3);
    height: 320px;
    background: transparent;
    overflow: hidden;
}

.services__info_card {
    position: relative;
    top: 90px;
    text-align: left;
    width: 450px;
    transition: 0.3s;
    padding-left: 40px;
}

.services__info_title {
    font-family: Lovelo;
    font-weight: 900;
    font-size: 42px;
    line-height: 112.5%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.services__info_subtitle {
    font-family: DIN Condensed;
    font-weight: normal;
    font-size: 22px;
    line-height: 112.5%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.services__info_desc {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.045em;
    color: #EE2700;
    width: 80%;
    margin-top: 20px;
    text-transform: none;
}

.card__red {
    background: rgba(238, 39, 0, 0.5);
}

.services__body_item {
    text-align: center;
    cursor: pointer;
}

.services__card_content {
    position: relative;
    top: 90px;
    transition: 0.2s;
    width: 320px;
    margin: 0 auto;
}

.services__card_content p {
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 112.5%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    margin-top: 20px;
}

.info__card {
    cursor: unset;
}

.services__card {
    transition: 0.4s;
}

.card__red:hover {
    background: rgba(238, 39, 0, 1);
}

.services__card:hover .services__card_content {
    top: 60px;
}

.card__logotype {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: 0.3s;
}

.services__body_item {
    position: relative;
}

.card__logo_show {
    opacity: 1;
}

.services__block_subtitle {
    display: none;
}

.services__block_desc {
    display: none;
}

.about__text_left {
    text-align: left;
}

.about__body_president {
    font-family: Lovelo;
    font-weight: 900;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.045em;
    color: #EE2700;
    margin-top: 20px;
}

.about__body_desc {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    margin-top: 5px;
}

.about__body_left {
    display: flex;
}

.about__text_left {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    width: 450px;
    margin-left: 100px;
    margin-top: 20px;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__body_right {
    display: flex;
    position: relative;
}

.about__body_left {
    position: relative;
}

.about__body_text {
    position: absolute;
}

.about__left {
    left: 300px;
    top: 100px;
}

.about__right {
    right: 415px;
    bottom: 100px;
    text-align: right;
}

.about__text_left {
    margin-bottom: 20px;
}

.about__block_right {
    text-align: right;
}

.about__right .about__left_text {
    text-align: right;
}

.values__body {
    width: 1240px;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

.values__logo_top {
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.values__logo_bottom {
    cursor: pointer;
}

.values__top {
    width: 100%;
    text-align: center;
}

.values__bottom {
    width: 100%;
    text-align: center;
}

.logo__active {
    opacity: 0.4;
}

.values_top_items {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.values_top_item {
    color: white;
}

.values__top {
    position: relative;
}

.values__item_title {
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.values__item_subtitle {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
}

.values_top_item {
    width: calc(100%/3);
}

.values_top_items {
    transition: 0.3s;
    display: flex;
    transform: translateY(-250%);
    opacity: 0;
    overflow-y: hidden;
    justify-content: space-between;
}

.value__top_active {
    transform: translateY(0%);
    opacity: 1;
}

.values_bottom_items {
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    transition: 0.4s;
    transform: translateY(250%);
    opacity: 0;
}

.values__bottom {
    position: relative;
}

.value__bottom_active {
    transform: translateY(0%);
    opacity: 1;
}

.values__top {
    overflow-y: hidden;
}

.scrollbar {
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.7s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
}

.scrollbar__item {
    height: 25vh;
    width: 15px;
    background: #ED2A24;
}

.scrollbar__page {
    position: relative;
}

.scrollbar__page {
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    text-align: center;
    transform: rotate(90deg);
    margin: 0 auto;
    height: 0px;
    width: 250px;
    top: 115px;
    right: 60px;
}

.services__slider_wrapper {
    transition: 0.7s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
}

.main__container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.services__slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


/* PARTNERS */

.partners {
    height: 100vh;
    min-width: 100vw;
    background: url('../images/backgrounds/Pages.svg');
    background-size: cover;
}

.partners__slider {
    width: 1640px;
    margin: 0 auto;
    position: relative;
    top: 15vh;
    overflow-x: hidden;
    height: 500px;
}

.partners__slider_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
}

.partners__slider_item {
    min-width: calc(100%/3);
    text-align: center;
    cursor: pointer;
}

.partners__arrow {
    width: 26px;
    fill: #ED2A24;
    transition: 0.3s;
    cursor: pointer;
}

.partners__arrow:hover {
    fill: white
}

.partners_left svg {
    position: absolute;
    top: 0;
    left: 0;
}

.partners_right svg {
    position: absolute;
    top: 0;
    left: 0;
}

.partners_left {
    position: relative;
    transform: rotate(-90deg);
}

.partners_right {
    position: relative;
    transform: rotate(90deg);
}

.partners__slider_nav {
    position: relative;
}

.partners__slider_nav {
    display: flex;
    width: 350px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    top: 100px;
}

.partners__dots {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.partners_dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #EE2700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot__active {
    width: 11px;
    height: 11px;
    background: black;
    border-radius: 100px;
    margin: 0 auto;
}

.partners__block {
    display: flex;
}

.partners__companies {
    min-width: 100vw;
    height: 100vh;
    background: url('../images/backgrounds/Pages.svg');
    background-size: cover;
}

.partners__company_bg {
    width: 70vw;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
}

.partners__company {
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.partners__company_bg {
    width: 90vw;
    text-align: center;
}

.partners__company_bg img {
    width: 50vw;
    margin: 0 auto;
    opacity: 0.5;
}

.partners__title {
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height */
    letter-spacing: 0.045em;
    color: #EE2700;
}

.partners__subtitle {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.partners__services_text {
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 136.5%;
    /* or 27px */
    letter-spacing: 0.045em;
    color: #EE2700;
}

.partners__services {
    display: flex;
}

.partners__services_item {
    margin-right: 50px;
    width: 40px;
}

.partners__services_item svg {
    width: 40px;
}

.partners__red path {
    fill: #ED2A24;
}

.partners__company_info {
    width: 560px;
}

.partners__title {
    margin-bottom: 20px;
}

.partners__subtitle {
    margin-bottom: 40px;
}

.partners__company_body {
    top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 184px;
    height: 50px;
    background: #EE2700;
    font-family: Lovelo;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 136.5%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #ED2A24;
}

.partners__button:hover {
    border: 2px solid #ED2A24;
    background: transparent;
    color: #ED2A24;
}

.partners__company_media {
    position: relative;
}

.partners__block {
    transition: 0.7s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
}

.partners_back {
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 27px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
}


/******************/


/******************/


/**** BUTTON 1 ****/

.toggle-button {
    display: inline-block;
    vertical-align: middle;
    width: calc(100%/3);
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
}

.cubeshape {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 320px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.cube {
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    /* Animate the transform properties */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.first_cube,
.second_cube {
    height: 320px;
    min-width: 100%;
    width: 100%;
    position: relative;
}

.first_cube {
    -webkit-transform: translateZ(-220px);
    transform: translateZ(-220px);
}

.second_cube {
    margin-top: -2px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.cube:hover {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.red_cube {
    background: #ee28007e;
}

@media (max-width: 1600px) {
    .cubeshape {
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 250px;
    }
    .first_cube,
    .second_cube {
        height: 250px;
        min-width: 100%;
        width: 100%;
        position: relative;
    }
    .toggle-button {
        width: 30%;
        overflow: hidden;
    }
    .services__body {
        justify-content: center;
        margin: 0 auto;
        margin-top: 100px;
    }
    .partners__slider {
        width: 90%;
    }
    .partners__slider_item img {
        width: 70%;
    }
}

@media (max-height: 768px) {
    .first_cube,
    .second_cube {
        height: 200px;
    }
    .cubeshape {
        height: 200px;
    }
    .services__body {
        width: 80%;
    }
    .services__card_content {
        position: relative;
        top: 40px;
        transition: 0.2s;
        width: 100%;
        margin: 0 auto;
    }
    .services__card_content img {
        width: 60px;
    }
    .services__card_content p {
        font-size: 26px;
        line-height: 112.5%;
        letter-spacing: 0.045em;
        color: #FFFFFF;
        margin-top: 20px;
    }
    .services__info_card {
        top: 40px;
        width: 100%;
    }
    .services__info_title {
        font-size: 32px;
    }
    .services__info_subtitle {
        font-size: 16px;
    }
    .services__info_desc {
        font-size: 13px;
        line-height: 20px;
    }
    .scrollbar__page {
        top: 95px;
        right: 70px;
        font-size: 22px;
    }
    .about__body_block img {
        width: 200px;
    }
    .about__left {
        left: 250px;
        top: 50px;
    }
    .about__right {
        right: 315px;
        bottom: 100px;
        text-align: right;
    }
    .values__logo_top {
        width: 230px;
    }
    .values__logo_bottom {
        width: 230px;
    }
    .values_top_items {
        top: 35%;
    }
    .values__item_title {
        font-size: 32px;
    }
    .values__item_subtitle {
        font-size: 16px;
        margin: 0 auto;
        margin-top: 10px;
        width: 80%;
    }
    .footer__container {
        max-width: 80%;
    }
    .footer__title {
        font-size: 58px;
    }
    .footer__slogan {
        font-size: 22px;
    }
    .footer__right_title {
        font-size: 32px;
        color: #EE2700;
    }
    .footer_form_block input {
        width: 43%;
        height: 40px;
        font-size: 18px;
    }
    .footer__form_send {
        width: 240px;
        height: 40px;
        font-size: 22px;
        border: 2px solid transparent;
    }
    .footer__content {
        margin-top: 150px;
    }
    .menu__item a {
        font-size: 58px;
    }
    .header__logo {
        position: relative;
        width: 180px;
        height: 46px;
        transform: scale(0.9);
    }
    .homepage_menu_list {
        top: 110px;
    }
    .partners__image img {
        width: 700px;
    }
    .partners__company_body {
        top: 50px;
    }
    .partners__slider_nav {
        top: 50px;
    }
}

@media (max-width: 1600px) {
    .footer__container {
        max-width: 90%;
    }
}

@media (max-width: 1366px) {
    .partners__image {
        width: 100%;
    }
    .partners__image img {
        width: 100%;
    }
}

@media (max-width: 1240px) {
    .about__body {
        width: 80%;
    }
    .values__body {
        width: 80%;
    }
}

@media (max-width: 1110px) {
    .footer__content {
        display: block;
    }
    .footer__left {
        text-align: center;
    }
    .footer__lines {
        display: flex;
        justify-content: center;
    }
    .footer__contacts {
        display: flex;
        justify-content: center;
    }
    .footer_link {
        justify-content: center;
    }
    .footer__right {
        width: 90%;
        margin-top: 100px;
    }
    .footer__right {
        width: 80%;
        margin-top: 100px;
    }
    .footer__right {
        width: 80%;
        margin-top: 100px;
        text-align: center;
    }
    .vault__container {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
    .vault__video iframe {
        height: 250px;
    }
    .page__header_subtitle {
        width: 80%;
    }
    .vault__searchbox {
        height: 50px;
    }
    #search {
        height: 50px;
    }
    .footer__right {
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }
}

@media (max-width: 1024px) {
    .services__body {
        width: 90%;
    }
    .services__card_content {
        position: relative;
        top: 50px;
        width: 100%;
    }
    .first_cube,
    .second_cube {
        height: 180px;
    }
    .services__card_content img {
        width: 20%;
    }
    .services__card_content p {
        font-size: 22px;
    }
    .cubeshape {
        height: 180px;
    }
    .services__body {
        margin-top: 200px;
    }
    .page__header_subtitle {
        margin-top: 50px;
    }
    .about__body_text {
        display: none;
    }
    .about__body_text_mb {
        color: white;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
        font-family: DIN Condensed;
    }
    .about__body_president {
        font-size: 35px;
        line-height: 42px;
    }
    .footer__content {
        margin-top: 100px;
    }
    .footer__right {
        margin-top: 50px;
    }
    .footer__title {
        font-size: 36px;
        line-height: 48px;
    }
    .line__2 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .line__1 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .footer__contacts {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 0 auto;
    }
    .footer_link {
        margin-top: 20px;
    }
    .footer__right {
        margin-top: 20px;
    }
    .footer__left {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .footer__contacts {
        width: 90%;
    }
    .footer__right {
        margin-top: 100px;
    }
    .footer__left {
        align-items: center;
    }
    .values__item_title {
        font-size: 26px;
    }
    .values__item_subtitle {
        font-size: 16px;
    }
    .services__info_title {
        font-size: 22px;
    }
    .services__info_card {
        top: 30px;
        width: 100%;
    }
    .services__info_subtitle {
        font-size: 16px;
    }
    .services__info_desc {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.045em;
        width: 90%;
        margin-top: 10px;
    }
    .partners__company_body {
        display: block;
    }
    .partners__company_bg img {
        width: 70vw;
        opacity: 0.4;
    }
    .partners__company_media {
        width: 80%;
        margin: 0 auto;
    }
    .footer__left {
        display: block;
    }
    .partners__company_info {
        width: 80%;
        margin: 0 auto;
    }
    .partners__companies {
        background: black;
    }
    .footer__form_send {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .vault__video iframe {
        height: 220px;
    }
    .vault__filter_block {
        display: block;
    }
    .vault__searchbox {
        width: 100%;
    }
    .vault__button_filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .vault__button_filter button {
        margin-right: 0px;
    }
    .vault__video_block {
        display: block;
    }
    .vault__video {
        width: 100%;
        margin-bottom: 40px;
    }
    .vault__video iframe {
        height: 320px;
    }
    .footer__left {
        width: 100%;
    }
    .partners__company_bg img {
        width: 100vw;
    }
}

@media (max-width: 600px) {
    .page__header_subtitle {
        width: 100%;
    }
    .vault {
        padding-bottom: 50px;
        background: url('../images/backgrounds/Pages.svg');
    }
    .vault__video iframe {
        height: 220px;
    }
    .page__header_subtitle {
        width: 100%;
        font-size: 16px;
    }
    .footer__title {
        font-size: 42px;
    }
    .homepage__menu {
        width: 90vw;
    }
    .menu__item a {
        font-size: 45px;
    }
    .header__logo {
        transform: scale(.8);
        left: 10px;
    }
    .homepage_menu_list {
        top: 90px;
    }
    .menu__item {
        margin-bottom: 10px;
        right: 0;
    }
    .page__header__logotype .logo {
        transform: scale(1);
        left: 0;
    }
    .services__body {
        flex-wrap: wrap;
        width: 100%;
    }
    .page__header_subtitle {
        width: 90%;
        font-size: 18px;
    }
    .scrollbar__item {
        height: 25vh;
        width: 5px;
        background: #ED2A24;
    }
    .scrollbar {
        display: none;
    }
    .toggle-button {
        height: 150px;
    }
    .cubeshape {
        height: 150px;
    }
    .services__card_content {
        top: 40px;
    }
    .services__card_content p {
        font-size: 16px;
    }
    .services__card_content img {
        width: 25%;
    }
    .about__body_block img {
        width: 70%;
    }
    .about__body_president {
        font-size: 25px;
        line-height: 32px;
    }
    .about__body {
        width: 90%;
    }
    .about__body_text_mb {
        color: white;
        width: 100%;
        font-size: 20px;
    }
    .about__body_left {
        width: 45%;
    }
    .about__body_right {
        width: 45%;
    }
    .about__body_block img {
        width: 90%;
    }
    .values__body {
        width: 95%;
    }
    .values__item_title {
        font-size: 20px;
    }
    .values__item_subtitle {
        font-size: 14px;
    }
    .footer__title {
        font-size: 32px;
    }
    .footer__slogan {
        font-size: 18px;
    }
    .footer__left>div {
        text-align: left;
    }
    .footer__lines {
        justify-content: start;
    }
    .footer__contact {
        width: 30px;
        height: 30px;
    }
    .footer__contact {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin-right: 15px;
        padding-top: 6px;
    }
    .footer__contact i {
        font-size: 18px;
        transition: 0.3s;
    }
    .footer__contacts {
        width: 100%;
    }
    .footer_link img {
        width: 7%;
    }
    .footer_link a>p {
        font-size: 16px;
        margin-left: 20px;
    }
    .values__logo_bottom {
        cursor: pointer;
        width: 60%;
    }
    .values__logo_top {
        margin: 0 auto;
        margin-bottom: 20px;
        cursor: pointer;
        width: 60%;
    }
    .values_top_items {
        top: 25%;
    }
    .footer__left {
        width: 100%;
        display: block;
    }
    .footer__title {
        font-size: 32px;
    }
    .services__info_card {
        padding-left: 20px;
    }
    .services__info_title {
        font-size: 16px;
    }
    .services__info_subtitle {
        font-size: 10px;
    }
    .services__info_desc {
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.045em;
        width: 100%;
        margin-top: 10px;
    }
    .about__body_block img {
        width: 70%;
    }
    .about__body_text_mb {
        color: white;
        width: 100%;
        font-size: 14px;
    }
    .partners__company_info {
        width: 90%;
        margin: 0 auto;
    }
    .partners__company_media {
        width: 90%;
        margin: 0 auto;
    }
    .footer__contacts {
        width: 60%;
    }
    .footer__lines {
        justify-content: center;
    }
    .services__slider {
        overflow: scroll;
    }
}

@media (max-width: 490px) {
    .about__body_text_mb {
        display: block;
    }
    .footer__slogan {
        text-align: center;
    }
    .footer__title {
        text-align: center;
    }
    .footer__lines {
        justify-content: center;
    }
    .footer__contacts {
        width: 70%;
    }
    .header__logo {
        transform: scale(.8);
        left: 0px;
    }
    .footer__content {
        margin-top: 70px;
    }
    .footer_link img {
        width: 5%;
    }
    .footer__right_title {
        font-size: 26px;
    }
    .footer__right {
        margin-top: 30px;
    }
    .partners__company_bg img {
        width: 70vw;
        opacity: 0.2;
    }
    .partners__button {
        right: 20px;
        bottom: 20px;
    }
}

@media (max-width: 430px) {
    #search {
        height: 40px;
    }
    .vault__searchbox {
        height: 40px;
    }
    .vault__searchbox_block {
        top: 5px;
        height: 32px;
    }
    .vault__searchbox_block img {
        position: relative;
        width: 20px;
    }
    .vault__video {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer__content {
        margin-top: 150px;
    }
    .menu__item a {
        font-size: 40px;
    }
    .footer__content {
        margin-top: 70px;
    }
    .partners__services_item {
        margin-right: 0px;
        width: 40px;
    }
    .partners__services {
        justify-content: space-between;
    }
}

@media (max-width: 414px) {
    #search {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .vault__video iframe {
        height: 160px;
    }
    .vault__searchbox_block {
        top: 0px;
    }
    .vault__searchbox_block img {
        position: relative;
        width: 20px;
    }
    .header__logo {
        transform: scale(.6);
        left: 5px;
    }
    .menu__item a {
        font-size: 35px;
    }
    .homepage_menu_list {
        top: 60px;
    }
    .vault__searchbox_block {
        top: 3px;
    }
}